main {
    margin: 10px;
    width: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    height: 1fr;
    background-color: lightgreen;
}

h1, h2 {
    text-align: center;
    font-family: 'Iceland', cursive;
    font-size: xx-large;
}

.results {
    background-color: whitesmoke;
    padding: 2px;
    font-weight: bold;
    border: solid 1px black;
}

button {
    background-color: lightblue;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
}