main {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator {
    border: 1px solid black;
    padding: 5px;
    background-color: lightgreen;

}

h1, h2 {
    text-align: center;
    font-family: 'Iceland', cursive;
}

.results {
    background-color: whitesmoke;
    padding: 2px;
    font-weight: bold;
    border: solid 1px black;
}