main {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    background-color: cornflowerblue;

}

h1, h2 {
    text-align: center;
    font-family: 'Iceland', cursive;
}